$color-white : #ffffff;
$color-red: red;
$color-blue: blue;
$color-dark: rgb(46, 46, 46);
$color-black: black;
$color-gray: #eaeaea;
$color-gray-dark: #9b9b9b;
$color-gray-clair : #F0F0F0;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiare: #99E2D0;
$color-tertiare-dark: #659387;

$bg-fond: #f6f6f6;


